absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
babel==2.16.0
bayesian-optimization==1.4.0
beautifulsoup4==4.12.3
bleach==6.2.0
blessed==1.20.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.0.4
cloudpickle==3.1.0
cma==4.0.0
colorama==0.4.0
colorful==0.5.6
comm==0.2.2
compiler-gym==0.2.5
compiler-gym-examples==0.2.5
contourpy==1.3.0
coverage==5.2.1
cycler==0.12.1
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dgl==0.9.0
directsearch==1.0
distlib==0.3.9
dm-tree==0.1.8
docker==7.1.0
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.1.0
fasteners==0.19
fastjsonschema==2.21.1
filelock==3.16.1
flaky==3.7.0
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.10.0
func-timeout==4.3.5
future==1.0.0
geneticalgorithm==1.0.2
google-api-core==2.22.0
google-auth==2.35.0
googleapis-common-protos==1.65.0
gpustat==1.1.1
greenlet==3.1.1
grpcio==1.67.1
gym==0.21.0
gym-notices==0.0.8
h11==0.14.0
hiredis==3.0.0
httpcore==1.0.7
httpx==0.28.1
humanize==4.11.0
hydra-core==1.1.0
idna==3.10
imageio==2.36.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.31.0
ipywidgets==8.1.5
IR2Vec==2.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
llvmlite==0.44.0
loop-tool-py==0.0.7
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.0
nevergrad==1.0.5
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.1.2
opencensus==0.11.4
opencensus-context==0.1.3
opentuner==0.8.8
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
Pillow==9.5.0
platformdirs==4.3.6
pluggy==1.5.0
prettytable==3.12.0
programl==0.3.2
prometheus-client==0.13.1
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.25.0
protobuf==3.20.3
psutil==5.8.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
py-cpuinfo==9.0.0
py-spy==0.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.13.6
pycparser==2.22
pydantic==1.10.9
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.2.0
pytest==6.2.5
pytest-benchmark==3.4.1
pytest-cov==2.12.1
pytest-forked==1.6.0
pytest-mock==3.6.1
pytest-shard==0.1.2
pytest-stress==1.0.1
pytest-sugar==0.9.4
pytest-timeout==1.4.2
pytest-xdist==2.4.0
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
ray==2.0.0
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.1
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
Send2Trash==1.8.3
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
stack-data==0.6.3
submitit==1.5.2
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.5.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2024.9.20
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
torch==2.5.1
torch-tb-profiler==0.4.3
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.66.6
traitlets==5.14.3
triton==3.1.0
typer==0.12.5
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
urllib3==2.2.3
virtualenv==20.27.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.1
widgetsnbextension==4.0.13
wrapt==1.16.0
yarl==1.17.1
